.margin_top_15 {
    margin-top: 15px;
}

.margin_top_40 {
    margin-top: 40px;
}

.margin_right_10 {
    margin-right: 10px;
}

.margin_bot_15 {
    margin-bottom: 15px;
}
.margin_left_15{
    margin-left:15px;
}


.card-1 {
    box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background: #fff;
}

.shadowQ {
    height: 50px;
    font-size: 18px;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    border: 0;
    background: #ffffff no-repeat;
    vertical-align: central;
    background-image: linear-gradient(to bottom, #507299, #507299), linear-gradient(to bottom, silver, silver);
    background-size: 0 2px, 100% 1px;
    background-position: 50% 100%, 50% 100%;
    transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
}

    .shadowQ:focus {
        background-size: 100% 2px, 100% 1px;
        outline: none;
    }

.wrongAnswer {
    background-image: linear-gradient(to bottom, #ff0000, #ff0000), linear-gradient(to bottom, silver, silver);
}

.points_form {
    width: 100px;
    text-align: center;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    border: 0;
    background: #507299 no-repeat;
    vertical-align: central;
    background-image: linear-gradient(to bottom, #fff, #fff), linear-gradient(to bottom, silver, silver);
    background-size: 0 2px, 100% 1px;
    background-position: 50% 100%, 50% 100%;
    transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
}

    .points_form:focus {
        background-size: 100% 2px, 100% 1px;
        outline: none;
    }

.points {
    width: 100px;
    text-align: center;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    border: 0;
    background: #fff no-repeat;
    vertical-align: central;
    background-image: linear-gradient(to bottom, #507299, #507299), linear-gradient(to bottom, silver, silver);
    background-size: 0 2px, 100% 1px;
    background-position: 50% 100%, 50% 100%;
    transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
}

    .points:focus {
        background-size: 100% 2px, 100% 1px;
        outline: none;
    }

.neutralAnswer {
    font-size: 18px;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    border: 0;
    display: block;
    background: #ffffff no-repeat;
    vertical-align: central;
    background-image: linear-gradient(to bottom, silver, silver), linear-gradient(to bottom, silver, silver);
    background-size: 0 2px, 100% 1px;
    background-position: 50% 100%, 50% 100%;
    transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    height: inherit !important;
}
