<div ng-app="Profile" ng-cloak>
    <div ng-controller="AccountAPIController" ng-init="getUserProfile(@Model)">
        <div ng-if="profileError" ng-bind="profileError"></div>
        <div ng-show="profileError == null" class="col-md-12">
            <div class="body card-1 col-md-4">
                <h2>Профіль <img class="pull-right folder" onclick="document.getElementById('avatarUpload').click()" src="/Content/Images/folder.png" /></h2>
                <img ng-src="https://drive.google.com/uc?export=view&id={{profile.Avatar}}" class="col-md-12 padding_bot_10" />
                <div class="clearfix"></div>
                <input type="file" style="display:none" id="avatarUpload" onchange="AvatarUpload(@Model)" />
            </div>
            <div class="col-md-7">
                <div class="body card-1 col-md-12" style="margin-left:20px">
                    <div class="text-center">
                        <span style="font-size:20px;"> Вибрати мову - </span>
                        <select class="input_profile" ng-model="profile.Language.LanguageID" ng-change="changeLanguage()"
                                ng-options="l.LanguageID as l.Name for l in languages" required></select>
                        <img src="/Content/Images/flag_{{profile.Language.ISO}}.jpg" />
                    </div>
                </div>
                <div class="body card-1 col-md-12" style="margin-left: 20px; margin-top: 40px; position:relative">
                    <form name="form1" style="font-size:20px;">
                        <div ng-show="!IsEdit">Iм'я: {{profile.Name}}</div>
                        <div ng-show="IsEdit">
                            Iм'я:
                            <input type="text" class="input_profile" ng-model="profile.Name" name="Name" ng-pattern="patterns.Name" required />
                            <img ng-show="form1.Name.$dirty && form1.Name.$valid" src="~/Content/Images/attention_green.png" data-toggle="tooltip" data-placement="right" title="Valid"></>
                            <img ng-show="form1.Name.$dirty && form1.Name.$invalid" src="~/Content/Images/attention_red.png" data-toggle="tooltip" data-placement="right" title="Andrew, Diana"></>
                        </div>
                        <div ng-show="!IsEdit">Прізвище: {{profile.SurName}}</div>
                        <div ng-show="IsEdit">
                            Прізвище:
                            <input type="text" class="input_profile" name="SurName" ng-model="profile.SurName" ng-pattern="patterns.SurName" required />
                            <img ng-show="form1.SurName.$dirty && form1.SurName.$valid" src="~/Content/Images/attention_green.png" data-toggle="tooltip" data-placement="right" title="Valid"></>
                            <img ng-show="form1.SurName.$dirty && form1.SurName.$invalid" src="~/Content/Images/attention_red.png" data-toggle="tooltip" data-placement="right" title="Gumenyuk, Pavlovich"></>
                        </div>
                        <div>По батькові: {{profile.MiddleName}}</div>
                        <div ng-show="!IsEdit">Логiн: {{profile.Login}}</div>
                        <div ng-show="IsEdit">
                            Логiн:
                            <input type="text" class="input_profile" ng-model="profile.Login" name="Login" ng-pattern="patterns.Login" ng-change="isLoginExist()" required />
                            <img ng-show="form1.Login.$dirty && form1.Login.$valid && errorLogin == null" src="~/Content/Images/attention_green.png" data-toggle="tooltip" data-placement="right" title="Valid"></>
                            <img ng-show="form1.Login.$dirty && form1.Login.$invalid" src="~/Content/Images/attention_red.png" data-toggle="tooltip" data-placement="right" title="Air, AGumenyuk"></>
                            <img ng-show="errorLogin" src="~/Content/Images/attention_orange.png" data-toggle="tooltip" data-placement="right" title="{{errorLogin}}"></>
                        </div>
                        <div ng-show="!IsEdit">Пошта: {{profile.Email}}</div>
                        <div ng-show="IsEdit">
                            Пошта:
                            <input type="text" class="input_profile" ng-model="profile.Email" name="Email" ng-pattern="patterns.Email" ng-change="isEmailExist()" required />
                            <img ng-show="form1.Email.$dirty && form1.Email.$valid && errorEmail == null" src="~/Content/Images/attention_green.png" data-toggle="tooltip" data-placement="right" title="Valid"></>
                            <img ng-show="form1.Email.$dirty && form1.Email.$invalid" src="~/Content/Images/attention_red.png" data-toggle="tooltip" data-placement="right" title="simple@gmail.com"></>
                            <img ng-show="errorEmail" src="~/Content/Images/attention_orange.png" data-toggle="tooltip" data-placement="right" title="{{errorEmail}}"></>
                        </div>
                        <div ng-show="IsEdit">
                            Пароль:
                            <input type="text" class="input_profile" name="Password" ng-model="profile.Password" required />
                            <img ng-show="form1.Password.$dirty && form1.Password.$valid" src="~/Content/Images/attention_green.png" data-toggle="tooltip" data-placement="right" title="Valid"></>
                            <img ng-show="form1.Password.$dirty && form1.Password.$invalid" src="~/Content/Images/attention_red.png" data-toggle="tooltip" data-placement="right" title="Any password"></>
                        </div>
                        <div ng-show="IsEdit">
                            Підтвердження пароля:
                            <input type="text" class="input_profile" name="ConfirmPassword" ng-model="profile.ConfirmPassword" ng-pattern="{{profile.Password}}" required />
                            <img ng-show="form1.ConfirmPassword.$dirty && form1.ConfirmPassword.$valid" src="~/Content/Images/attention_green.png" data-toggle="tooltip" data-placement="right" title="Valid"></>
                            <img ng-show="form1.ConfirmPassword.$dirty && form1.ConfirmPassword.$invalid" src="~/Content/Images/attention_red.png" data-toggle="tooltip" data-placement="right" title="Password should match"></>
                        </div>
                        <div>Роль: {{profile.Role}}</div>
                        <div>Факультет: {{profile.Faculty}}</div>
                    </form>
                    <div style="position:absolute; bottom:6px; right:15px">
                        <button class="btn btn-default" style="border-radius: 0px; background-color: #e5ebf1;" ng-show="!IsEdit" ng-click="IsEdit = true">Edit</button>
                        <div ng-show="IsEdit">
                            <button class="btn btn-default pull-left" style="border-radius: 0px; background-color: #e5ebf1" ng-click="editUserProfile()">Save</button>
                            <button class="btn btn-default pull-left" style="border-radius: 0px; background-color: #e5ebf1" ng-click="cancel()">Cancel</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="clearfix"></div>

            <div id="results" class="body card-1 col-md-12" style="margin-top:20px">
                <h2 class="col-md-3 folder" ng-click="slide()"> Мої результати</h2>
                <div class="clearfix"></div>
                <div class="tableResults col-md-10" style="margin-left:30px" hidden>
                    <h3 ng-if="profile.Results.length <= 0">У Вас немає пройдених тестів</h3>
                    <div ng-if="profile.Results.length > 0">
                        <table id="table" class="table" style="font-size:20px">
                            <thead>
                                <tr>
                                    <td class="text-center">Тест</td>
                                    <td class="text-center">Бали</td>
                                    <td class="text-center">Оцінка</td>
                                    <td class="text-center">Дата</td>
                                </tr>
                            </thead>

                            <tbody>
                                <tr ng-repeat="r in profile.Results | orderBy:sortType:sortReverse | filter:searchResult | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                    <td style="border-right: solid 1px lightgrey">{{ r.TestName }}</td>
                                    <td class="text-center" style="border-right: solid 1px lightgrey">{{ r.Points }}</td>
                                    <td class="text-center" style="border-right: solid 1px lightgrey">{{ r.Evaluation }}</td>
                                    <td class="text-center" ng-bind="r.Date | date:'dd/MM/yyyy'"></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="col-md-1"></div>
                        <pagination class="pull-right" page="currentPage" max-size="noOfPages" total-items="totalItems" items-per-page="entryLimit" ng-model="currentPage"></pagination>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>